## Lecture 4

## Logistics:
- lab1, worksheet1, 2 solutions released. - find them in the student repo.
- worksheet 1, 2. Iclicker 1, 2, 3 grades released on canvas. Make sure you check email associated with canvas to get notifications.Check regrading policy here: https://ubc-mds.github.io/policies/
- The practice quiz is released. Get practice with all buttons and features. Any questions ask on slack #general channel.
- Use tidyverse functions for the exam, like how we do it in lecture notes. If you use the base R way of doing things you will lose points.
- The workspaces are avaiable, also a place where you can upload you cheat sheets. Make sure you practice them before next week. Show quick demo. 
    - Make sure you copy things over to answer space, and save them.
    - leave the workspace open through out the quiz.
    - While using workspace you ofcourse want to load the packages that you need for the code.
    - Assume the files are in the same directory as the script. But you won't be able to test the file loading part (so don't need to be panic if you get error).
    - Make good use of Code completions, suggestions, help etc.. all there.
- cheat sheets make sure you follow guidelines provided by course coordinators.
- How effective can cheat sheets be ? Here is an example..you will find this in the student repo after the lecture.
- For quizzes make sure you use tidyverse, lubridate, stringr and the packages that we used.


GOOD LUCK WITH THE QUIZ !!

## Half way through the course
<img src="data/halfway.png" width=290>

- Checkout Vizualization using https://tidydatatutor.com

```
library(dplyr)
library(palmerpenguins)

set.seed(2021-12-03)

sample_penguins <- penguins %>%
  group_by(species) %>% 
  sample_n(3) %>% 
  select(species, bill_length_mm) %>% 
  ungroup()

sample_penguins %>% 
  filter(bill_length_mm > 45) %>% 
  mutate(bill_length_cm = bill_length_mm/10) %>% 
  select(species, bill_length_cm) %>% 
  arrange(desc(bill_length_cm)) %>%
  slice(1)
```

## Today's theme 
Helpful links
- https://www.garrickadenbuie.com/project/tidyexplain/#inner-join

There are 3 key themes to this lecture:

1. joins

2. for loops

3. if, if else and else statements

First, let's load the packages we need:

In [1]:
library(tidyverse)

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.4     v readr     2.1.5
v forcats   1.0.0     v stringr   1.5.1
v ggplot2   3.5.1     v tibble    3.2.1
v lubridate 1.9.3     v tidyr     1.3.1
v purrr     1.0.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

*Note: if you have to install an R package that exists on CRAN, the command is: `install.packages("PACKAGE_NAME")`.*

And then let's limit the output of data frames in Jupyter to 6 lines:

In [2]:
options(repr.matrix.max.rows = 6)

## 1. Joins

You can smash things together row-wise (“row binding”) or column-wise (“column binding”) using binding. You might sometimes get into situations where you want to perform row bind, but it is best to avoid column bind whenever you can. But it is best to avoid those if you can. Joins let us combine multiple data frames in useful ways, and were inspired by the database query language SQL. Let's practice a few of the most common joins you might practice in your data science work with the `band_members` and `band_instruments` data frames from the `dplyr` package.

Let's start with bunch of iclicker questions:

# Iclicker 1:

What join on `x` and `y` would result in the `result` dataframe.

<img src="img/inner.png" width=230>

a) `result <- inner_join(x, y, by = "name")`

b) `result <- inner_join(x, y)`

c) `inner_join(x, y) -> result`

d) `result <- full_join(x, y)`

# Answer: 
A or B or C

# Iclicker 2:

What join on `x` and `y` would result in the `result` dataframe.

<img src="img/inner2.png" width=230>

a) `inner_join(x, y, by = c("instrument_name" = "members_name"))`

b) `result <- inner_join(x, y)`

c) `inner_join(y, x, by = c("instrument_name" = "members_name"))`

d) `inner_join(x, y, by = c("instrument_name", "members_name"))`

# Answer: 
A

# Iclicker 3:

What join on `x` and `y` would result in the `result` dataframe.

<img src="img/cross.png" width=230>

a) `result <- full_join(x, y, by = "name", all = TRUE)`

b) `result <- full_join(x, y)`

c) `result <- cross_join(x, y, by = "name")`

d) `result <- cross_join(x, y)`

# Answer: 
D

# Iclicker 4:

What join on `x` and `y` would result in the `result` dataframe.

<img src="img/full.png" width=290>

A) `result <- full_join(y,x, by = c("members_name" == "instrument_name"))`

B) `result <- full_join(x,y, by = c("instrument_name" = "members_name"))`

C) `result <- full_join(x,y)`

D) `result <- full_join(y,x, by = c(members_name == instrument_name))`

E) `result <- full_join(y,x, by = c("members_name" = "instrument_name"))`

# Answer:
E

>**Question - what column can we join these two dataframes on?**

What would we do if we want to combine all rows of the dataframes, so we get all records back, with all columns? We would do a `full_join`:

In [3]:
full_join(band_members, band_instruments)

Joining with `by = join_by(name)`

  name  band    plays
1 Mick  Stones  NA
2 John  Beatles guitar
3 Paul  Beatles bass
4 Keith NA      guitar

What if we just wanted the intersection of these two data frames? Only the rows where the same people exist in both dataframes? We would use an `inner_join`:

In [4]:
inner_join(band_members, band_instruments)

Joining with `by = join_by(name)`

  name band    plays
1 John Beatles guitar
2 Paul Beatles bass

What if we wanted to add an instruments column to the `band_members` dataframe, but just for the members that exist in the `band_members` dataframe and not drop any records from the `band_members` dataframe? We would use `left_join` with the `band_members` dataframe being the first argument:

In [5]:
left_join(band_members, band_instruments)

Joining with `by = join_by(name)`

  name band    plays
1 Mick Stones  NA
2 John Beatles guitar
3 Paul Beatles bass

What if your column names don't match? You can specify which columns to join by! Let's rename columns...

In [6]:
band_members <- band_members |> rename(band_name = name)

In [7]:
band_members
band_instruments

  band_name band
1 Mick      Stones
2 John      Beatles
3 Paul      Beatles

  name  plays
1 John  guitar
2 Paul  bass
3 Keith guitar

In [8]:
## We will get error as there is no common variable
left_join(band_members, band_instruments, by = c("band_name" = "name"))

  band_name band    plays
1 Mick      Stones  NA
2 John      Beatles guitar
3 Paul      Beatles bass

I don't care to learn that i can rename it back so that there is common column.

In [9]:
band_members <- band_members |> rename(name = band_name)

In [10]:
left_join(band_members, band_instruments)

Joining with `by = join_by(name)`

  name band    plays
1 Mick Stones  NA
2 John Beatles guitar
3 Paul Beatles bass

## 2. `for` loops

# iclicker 5:

```r
x <- 10
if (x < 5) {
  result <- "Less than 5"
} else if (x >= 5 & x < 15) {
  result <- "Between 5 and 15"
} else {
  result <- "15 or more"
}
print(result)
```

What will be the output of the above code?

A) "Less than 5"

B) "Between 5 and 15"

C) "15 or more"

D) "Between 5 and 15"
   "Less than 5"

# answer:
B) "Between 5 and 15"

What is the output of this code?

```r
the_joke_empty <- c()

for (i in 1:length(the_joke_empty)) {
    print(the_joke_empty[i])
}

for (i in seq_along(the_joke_empty)) {
    print(the_joke_empty[i])
}
```

A) The first loop prints nothing, and the second loop prints nothing.

B) The first loop prints NULL twice, and the second loop prints nothing.

C) The first loop prints nothing, and the second loop prints NULL twice.

D) Both loops print NULL once.

Answer: Option B

Be careful when using length() with empty vectors. It counts from 1:0, so it returns 1,0. Use seq_along() instead.

In [19]:
1:0

[1] 1 0

Let's be a little silly here, why? Because life is a little too serious right now.

let's loop over the character vector below to print out the joke:

In [11]:
the_joke <- c("Helvetica and Times New Roman", "walk into a bar", "Get out of here!", "Shouts the bartender", "We don't serve your type!")

In [12]:
for (lines in the_joke) {
    print(lines)
}

[1] "Helvetica and Times New Roman"
[1] "walk into a bar"
[1] "Get out of here!"
[1] "Shouts the bartender"
[1] "We don't serve your type!"

In contrast to Python, R uses `{` and `}` to define what code is part of the `for` loop. You also see indentation with code in R when writing a `for` loop, but it is not strictly required but is used to make code more readable.

We can also use indices in R when we iterate with a `for` loop:

In [13]:
for (i in seq_along(the_joke)) {
    # print(i)
    print(the_joke[i])
}

[1] "Helvetica and Times New Roman"
[1] "walk into a bar"
[1] "Get out of here!"
[1] "Shouts the bartender"
[1] "We don't serve your type!"

Beware of using length instead:

In [14]:
the_joke_empty <- c()

In [15]:
for (i in 1:length(the_joke_empty)) {
    print(the_joke_empty[i])
}

NULL
NULL

Let's see how it going to behave if it is seq_along

In [16]:
for (i in seq_along(the_joke_empty)) {
    print(the_joke_empty[i])
}

## 3. `if`, `if else` and `else` statements

Let's do a dice rolling exercise, where we simulate rolling two fair dice and R will comment whether we got a pair or not (or snake eyes!):

In [17]:
dice1 <- sample(1:6, 1)
dice2 <- sample(1:6, 1)
paste(dice1, "&", dice2)

if (dice1 == dice2) {
print("You rolled a pair!")
    if (dice1 == 1) {
        print("And they are snake eyes! What a lucky day!")
    }
} else {
    print("Try again!")
}

[1] "2 & 3"

[1] "Try again!"

In [18]:
seq_along(c())

integer(0)